*{
    margin: 0;
}

body{
    font-family: 'Nunito', sans-serif;
    background-color: #fafbfc;
}

header{
    background-color: rgb(28, 3, 51);
    color:white;    
    padding: 10px;
    text-align: center;
}

main{
    padding: 30px 50px;
}

.card{
    border: 1px solid #ccc ;
    background-color: #fff;
    padding: 20px;
    margin-top: 15px;
    border-radius: 5px;
}

.lineInput{
    display: grid;
    margin-bottom: 10px;
}

input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: 0;
}

input:hover{
    border: 1px solid rgb(129, 129, 129);
}

button{
    border: 0px;
    padding: 10px;
    outline: 0;
    background-color: rgb(28, 3, 51);
    color: #fff;
    border-radius: 3px;
    font-weight: bold;
    transition: all ease 0.3s;
}

button:hover{
    background-color:rgb(72, 7, 132); 
}

.content{
    margin-top: 15px;
}

table{
    width: 100%;
}

table, th, td{
    border: 1px solid #ccc;
    border-collapse: collapse;
    padding: 5px;
}

table th{
    background-color: rgb(187, 187, 187);
}

table td img{
    width: 20px;
}

.center{
    text-align: center;
}

table tr:hover{
    background-color: rgb(234, 233, 233);
}